<div class="footer">
  <div class="f-row">
    <div class="f-col-left">
      <img src="assets/web/declasslogo.png" style="width: 160px; margin-top: -5%; margin-bottom: 10px">
    </div>
    <div class="f-col-right">
      <div class="f-col-right-contactos">Proyecto patrocinado por</div>
      <div class="f-col-right-email">
        <a href="https://cl.usembassy.gov/" target="_blank" rel="noopener noreferrer">
          <img src="assets/web/emlogo.png" style="width: 230px; margin-top: 10px;">
        </a>
      </div>
    </div>
    <div class="f-col-right">
      <div class="f-col-right-contactos">Proyecto realizado por</div>
      <div class="f-col-right-email">
        <img src="assets/web/rclogo.png" style="width: 140px; margin-bottom: 10px">
      </div>
    </div>
      <div class="f-col-right">
        <div class="f-col-right-contactos">Encuéntranos en:</div>
        <div class="f-social-container">
          <div class="f-social-icons">
            <img src="assets/web/facebook.png" alt="Facebook" class="social-icon facebook" (click)="openLink('https://www.facebook.com/EmbajadaEEUUCl/')">
            <img src="assets/web/x.png" alt="X" class="social-icon x" (click)="openLink('https://x.com/EmbajadaEEUUcl')">
            <img src="assets/web/insta.png" alt="Instagram" class="social-icon instagram" (click)="openLink('https://www.instagram.com/embajadaeeuucl/')">
          </div>
        </div>
        <img src="assets/web/embajadaeeuu.png" alt="embajada" class="social-icon-embajada" (click)="openLink('https://cl.usembassy.gov/')" style="margin-top: 10px;">
      </div>

    <div class="f-terminos">
      <div class="f-terminos-text" (click)="isVisibleFOIA = true">¿Qué es FOIA?</div>
      <div class="f-terminos-text" (click)="isVisibleGuia = true">Guía de Uso</div>
    </div>
  </div>
</div>
<nz-modal [(nzVisible)]="isVisibleFOIA" nzTitle="" (nzOnOk)="handleOk()" [nzClosable]="false" [nzWidth]="740">
  <ng-container *nzModalTitle>
    <div class="mod-title-btn">
      <img src="assets/img/ICON-X.png" (click)="isVisibleFOIA = false">
    </div>
    <div class="mod-title">
      ¿Qué es FOIA?
    </div>
  </ng-container>
  <ng-container *nzModalContent>
    <p>
      Desde 1967, la Ley de Libertad de Información (Freedom of Information Act, FOIA) garantiza a toda persona el derecho a solicitar acceso a los registros de las agencias del gobierno federal de los Estados Unidos. A su vez, las agencias federales están obligadas a entregar la información solicitada en virtud de FOIA, salvo que los registros en cuestión estén protegidos contra su divulgación por algunas de las nueve exenciones que resguardan intereses como la privacidad personal, la seguridad nacional y la aplicación de la ley.
    </p>
    <p>
      Fuente: <a href="http://www.foia.gov">www.foia.gov</a>
    </p>
  </ng-container>
  <ng-container *nzModalFooter>
    <div class="mod-footer-entiendo" (click)="isVisibleFOIA = false">
      Entiendo
    </div>
  </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="isVisibleGuia" nzTitle="" (nzOnOk)="handleOk()" [nzClosable]="false" [nzWidth]="740">
  <ng-container *nzModalTitle>
    <div class="mod-title-btn">
      <img src="assets/img/ICON-X.png" (click)="isVisibleGuia = false">
    </div>
    <div class="mod-title">
      Guía de Uso
    </div>
  </ng-container>
  <ng-container *nzModalContent>
    <div class="modal-content">
      <h3 class="modal-title">Datos para una búsqueda correcta:</h3>
      <ul class="modal-list">
        <li>Frases compuestas (frases exactas), por ejemplo: <strong>Golpe de estado</strong></li>
        <li>Términos en mayúsculas y minúsculas, por ejemplo: <strong>Gobierno, gobierno</strong></li>
        <li>Términos con conectores, por ejemplo: <strong>la administración de...</strong></li>
        <li>Términos con acentuación correcta y sin acentuación.</li>
      </ul>
    </div>
  </ng-container>
  <ng-container *nzModalFooter>
    <div class="mod-footer-entiendo" (click)="isVisibleGuia = false">
      Entiendo
    </div>
  </ng-container>
</nz-modal>
