<div class="content">
  <div class="bannerdesk">
    <img src="assets/web/bannerdesk.png" class="headerdesk" alt="DeclassEEUUCL.cl" width="100%" height="100px">
    <div class="logo-container">
        <a href="https://www.mmdh.cl" target="_blank" rel="noopener noreferrer">
            <img src="assets/web/mdmlogo.png" class="mdmlogo" alt="DeclassEEUUCL.cl" width="100%" height="100px">
        </a>
        <a href="https://cl.usembassy.gov/" target="_blank" rel="noopener noreferrer">
            <img src="assets/web/emban.png" class="emblogo" alt="DeclassEEUUCL.cl" width="100%" height="100px">
        </a>
    </div>
    <img src="assets/web/declogo.png" class="declogo" alt="DeclassEEUUCL.cl" width="100%" height="100px">
  </div>
  <div class="bannermobile">
    <img src="assets/web/bannermov1.png" class="headermobile" alt="DeclassEEUUCL.cl" width="100%" height="100px">
  </div>
  <div class="cabecera" *ngIf="isVisible">
    <div class="filtros">
      <div class="titulofiltro">
        Archivos desclasificados transcritos y traducidos
      </div>
      <div class="sub-titulo">
        Buscar un archivo
      </div>
      <div class="fila">
        <div class="input-wrapper">
          <input type="text" name="search" placeholder="Buscar..." [(ngModel)]="textToSearch" (keydown.enter)="buscar()">
          <img src="assets/img/lupa1.png" alt="Buscar" (click)="buscar()"/>
        </div>
        
        <nz-date-picker
          [(ngModel)]="desde"
          (ngModelChange)="buscar()"
          nzFormat="dd-MM-yyyy"
          id="desde"
          [nzPlaceHolder]="desdePlaceholder"
          [nzShowToday]="false"
          [nzDisabledDate]="disabledDateDesde"
        >
        </nz-date-picker>
        <nz-date-picker
          [(ngModel)]="hasta"
          (ngModelChange)="buscar()"
          nzFormat="dd-MM-yyyy"
          id="hasta"
          [nzPlaceHolder]="hastaPlaceholder"
          [nzShowToday]="false"
          [nzDisabledDate]="disabledDateHasta"
        >
        </nz-date-picker>
      </div>
      <div class="bottom-actions">
        <div class="left-action">
          <i class="fa fa-trash-o"></i>
          <span (click)="navigateToHome()">Limpiar búsqueda</span>
        </div>
        <div class="right-actions">
          <div class="action-item">
            <i class="fa fa-info-circle"></i>
            <span (click)="openGuiaModal()">Guía de uso</span>
          </div>
          <div class="action-item">
            <i class="fa fa-exclamation-circle"></i>
            <span (click)="reportarFallas()">Reportar fallas</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
