<div class="content">
  <a href="https://www.mmdh.cl" target="_blank" rel="noopener noreferrer">
    <img src="assets/web/head2.png" alt="DeclassEEUUCL.cl" width="100%" height="100px">
  </a>
  <div class="cabecera" *ngIf="isVisible">
    <div class="filtros">
      <div class="titulofiltro">
        Archivos desclasificados transcritos y traducidos
      </div>
      <div class="sub-titulo">
        Buscar un archivo
      </div>
      <div class="fila">
        <div class="input-wrapper">
          <input type="text" name="search" placeholder="Buscar..." [(ngModel)]="textToSearch" (keydown.enter)="buscar()">
          <img src="assets/img/lupa1.png" alt="Buscar" (click)="buscar()"/>
        </div>
        
        <nz-date-picker
          [(ngModel)]="desde"
          (ngModelChange)="buscar()"
          nzFormat="dd-MM-yyyy"
          id="desde"
          [nzPlaceHolder]="desdePlaceholder"
          [nzShowToday]="false"
          [nzDisabledDate]="disabledDateDesde"
        >
        </nz-date-picker>
        <nz-date-picker
          [(ngModel)]="hasta"
          (ngModelChange)="buscar()"
          nzFormat="dd-MM-yyyy"
          id="hasta"
          [nzPlaceHolder]="hastaPlaceholder"
          [nzShowToday]="false"
          [nzDisabledDate]="disabledDateHasta"
        >
        </nz-date-picker>
      </div>
      <div (click)="navigateToHome()" style="cursor: pointer; color: white; margin-left: 2%;" class="clear-search">
        <i class="fa fa-trash-o" style="font-size:20px;margin-right: 4px;"></i>
        Limpiar búsqueda
      </div>
      <div (click)="openGuiaModal()" style="cursor: pointer; color: white; margin-left: 37%; margin-top: -23px;" class="open-guide">
        <i class="fa fa-info-circle" style="font-size:20px;margin-left: 44px;"></i>
        Guía de uso
      </div>
    </div>
  </div>
</div>
